Arithmetic operator: (+, -, *, /, %, //, ***)-imported from math module

Assignment operator: (=, +=, =+, -=, =-, *=, =*, /=, =/, %=, =%, //=, =//)

Logical operator: and, or, not

Comparison or relational operator: (>, <, >=, <=, ==, !=)-imported from math module

Special operartor: (in, not in, is, is not)-imported from english module

Bitwise operator: (&, |, ^, ~, <<, >>)

# Arithmatic Operations

In [1]:
a = 2
b = 3
c = a+b
print(c)

5

In [2]:
a = 2.3
b = 1.2
c = a-b
print(c)

1.0999999999999999

In [3]:
a = 2
b = 3
c = a * b
print(c)

6

In [4]:
a = 6
b = 3
c = a/b
print(c)

2.0

In [5]:
a = 5
b = 2
c = a%b
print(c)

1

In [6]:
a = 6
b = 3
c = a//b
print(c)

2

In [7]:
a = 2
b = 3
c = a**b
print(c)

8

# Assignment Operataor

In [10]:
a = 2
b = 3
a+=b
print(a) #a+=b means a = a+b

5

In [11]:
a = 3
b = 1
a-=b
print(a)

2

In [12]:
a = 3
b = 2
a*=b
print(a)

6

In [13]:
a = 6
b = 3
a /= b
print(a)

2.0

In [14]:
a = 90
b = 15
a //= b
print(a)

6

In [16]:
a = 15
b = 3
a %= b
print(a)   #% will output the remainder

0

In [17]:
a = 2
b = 3
a **= b
print(a)

8

# Boolean operator

In [29]:
a = 1
not(a)

False

In [30]:
a = 0
not(a)

True

In [31]:
a = 1010
b = 1000
a and b

1000

In [32]:
a = 1010
b = 1000
a or b

1010

# Comparison or Relational operator

In [33]:
a = 5
b = 2
a > b

True

In [34]:
a = 5
b = 3
a < b

False

In [36]:
a = 1
b = 0
a >= b

True

In [37]:
a = 8
b = 5
b <= a

True

In [38]:
a = 4
b = 4
a == b

True

In [39]:
a = 5
b = 2
a != b

True

# Special Operators

Is and is not are called identity operator.

Used to check the value of a variable.

In [42]:
a = 10
10 is a

True

In [43]:
b = 20
10 is not b

True

In [5]:
x = 5
if (type(x) is int):
    print('True')
else:
    print('False')

True

In [6]:
x = 2.5
if(type(x) is not int):
    print('True')
else:
    print('False')

True

In and Not in are called membership operator

These two operators are used to check whether the specified element is present in data structure.

Note: Both these special operators are applicable to all the data types.

In [52]:
a = [10, 20, 30]
40 in a

False

In [53]:
b = [1, 2, 3]
1 not in a

True

In [4]:
l1 = [1, 2, 3, 4, 5]
l2 = [6, 7, 8, 9]
for item in l1:
    if item == l2:
        print('overlapping')
else:
    print('not overlapping')

not overlapping

In [1]:
def overlapping(l1, l2):
    c = 0
    d = 0
    for i in l1:
        c += 1
    for i in l2:
        d += 1
        for i in range(0, c):
            for j in range(0, d):
                if(l1[i] == l2[j]):
                    return 1
        return 0
l1 = [1, 2, 3, 4, 5]
l2 = [6, 7, 8, 9]
if(overlapping(l1, l2)):
    print('overlapping')
else:
    print('not overlapping')

not overlapping

In [4]:
x = 24
y = 20
z = [10, 20, 30, 40, 50]
if (x not in z):
    print('x is not present in z')
else:
    print('x is present in z')
if(y in z):
    print('y is present in z')
else:
    print('y is not present in z')

x is not present in z
y is present in z

# Bitwise operator

In [76]:
a = 5
b = 2
a&b

0

In [77]:
a = 1
b = 0
a|b

1

In [78]:
a = 10
b = 5
a^b

15

In [80]:
a = 10
a << 2

40

In [81]:
a = 10
a >> 2

2

In [87]:
a = 100
print(bin(a))
print(oct(a))
print(hex(a))

0b1100100
0o144
0x64

In [101]:
a = 0
b = 1
a&b

0

In [102]:
a = 10
b = 5
a&b

0

In [105]:
a = 0
b = 1
c = a|b
c

1

In [106]:
a = 10
b = 1
a | b

11

In [110]:
a = 101010
b = 110011
a|b

110523

In [111]:
a = 0
b = 1
a^b

1

In [112]:
a = 10
b = 10
a^b

0

In [113]:
a = 10
b = 20
a^b

30

In [114]:
a = 5
a<<2

20

In [115]:
a = 5
a>>2  #right shift

1

Few python examples

In [88]:
a = [[1, 2, 3], [4.5, 2.5, 3.5]]
print(a[::-1])

[[4.5, 2.5, 3.5], [1, 2, 3]]

In [89]:
a = 'hello world'
print(a[::-1])

dlrow olleh

In [91]:
print('*'*(5+5))

**********

In [100]:
a, b = map(int, input('enter two numbers:'))
c = a+b
print(c)

enter two numbers: 12

3

Note: Boolean not returns true or False but bitwise true and false returns compliment of 1 and 0 respectively.

# Ternary Operators

Are those operators which evaluates statements based on whether a certain condition is true or false.

In [1]:
#example
a, b = 10, 20
min = a if a < b else b
print(min)

10

In [10]:
a, b = 10, 20
print((b, a) [a < b]) #use tuple to select an element.
print({True : a, False : b} [a < b]) #using dictionary.
print((lambda: b, lambda: a) [a < b]()) #using lambda function.

10
10
10

In [2]:
a, b = 10, 20
print('a is equal to b' if a == b else 'a is greater than b' if a > b else 'b is greater than a')

b is greater than a

In [1]:
a, b = 10, 30
if a != b:
    if a > b:
        print('a is greater than b')
    else:
        print('b is greater than a')
else:
    print('a and b are equal')

b is greater than a

In [2]:
#program to demonstrate the conditional operator
min = a < b and a or b
print(min)

10

# Opeartor overloading in python.

Definition: Giving extended meaning to predefined operational meaninig.

In [7]:
#examples.
print(1 + 2)
print('python' + ' programming')
print(3 * 4)
print('python'*3)

3
python programming
12
pythonpythonpython

In [11]:
class A:
    def __init__(self, a):
        self.a = a
    def __add__(self, o):
        return self.a + o.a
ob1 = A(1)
ob2 = A(2)
ob3 = A('Python')
ob4 = A(' Programming')
print(ob1 + ob2)
print(ob3 + ob4)

3
Python Programming

In [12]:
class complex:
    def __init__(self, a, b):
        self.a = a
        self.b = b
    def __add__(self, other):
        return self.a + other.a, self.b + other.b
    def __str__(self):
        return self.a + self.b
ob1 = complex(1, 2)
ob2 = complex(2, 3)
ob3 = ob1 + ob2
print(ob3)

(3, 5)

In [13]:
class A:
    def __init__(self, a):
        self.a = a
    def __gt__(self, other):
        if(self.a > other.a):
            return True
        else:
            return False
ob1 = A(2)
ob2 = A(3)
if(ob1 > ob2):
    print('a is greater')
else:
    print('a is lesser')

a is lesser

In [22]:
class A:
    def __init__(self, a):
        self.a = a
    def __gt__(self, other):
        if(self.a < other.a):
            return True
        else:
            return False
    def __equal__(self, other):
        if(self.a == other.a):
            return True
        else:
            return False
ob1 = A(3)
ob2 = A(4)
print(ob1 < ob2)

ob3 = A(4)
ob4 = A(4)
print(ob3 == ob4)

False
False

# Inplace V/S Standard operators.

Difference is that the inplace operator modifies the passed argument and stores in a variable, whereas standard variable does not modify the arguments it perform the standard operation and stores in a variable.

In [30]:
#example
import operator
x = 3
y = 5
a = 3
b = 5
print(operator.add(x, y))
print(operator.iadd(a, b))
print(x)
print(a)

8
8
3
3

In [34]:
import operator
a = [1, 2, 3, 4]
z = operator.add(a, [1, 2, 3])
print(z)
print(a)
p = operator.iadd(a, [1, 2, 3])
print(p)
print(a)

[1, 2, 3, 4, 1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 1, 2, 3]
[1, 2, 3, 4, 1, 2, 3]

In [36]:
#few more examples of inplace operators.
x = operator.iadd(3, 2)
print(x)
y = 'welcome'
z = ' to python'
print(operator.iconcat(y, z))
a = operator.isub(3, 2)
print(a)
b = operator.imul(3, 2)
print(b)
c = operator.itruediv(6, 3)
print(c)
d = operator.imod(5, 3)
print(d)
e = operator.ixor(1, 0)
print(e)
f = operator.ipow(5, 3)
print(f)
g = operator.iand(1, 0)
print(g)
h = operator.ior(1, 1)
print(h)

5
welcome to python
1
6
2.0
2
1
125
0
1

# operator functions in python.

In [55]:
import operator
a = 5
b = 3
print(operator.add(a, b)) #1
print(operator.sub(a, b)) #2
print(operator.mul(a, b)) #3
print(operator.truediv(a, b)) #4
print(operator.floordiv(a, b)) #5
print(operator.pow(a, b)) #6
print(operator.mod(a, b)) #7
print(operator.lt(a, b)) #8
print(operator.le(a, b)) #9
print(operator.eq(a, b)) #10
print(operator.gt(a, b)) #11
print(operator.ge(a, b)) #12
print(operator.ne(a, b)) #13

8
2
15
1.6666666666666667
1
125
2
False
False
False
True
True
True

In [1]:
#14.setitem(), #15.delitem(), #16.getitem()
import operator
li = [1, 2, 3, 4, 5]
for i in range(0, len(li)):
    print(li[i], end = ' ')
operator.setitem(li, 3, 3)
for i in range(0, len(li)):
    print(li[i])
operator.delitem(li, 0)
for i in range(0, len(li)):
    print(li[i], end = ',')
print(operator.getitem(li, 2), end ='  ')

1 2 3 4 5 1
2
3
3
5
2,3,3,5,3

In [7]:
import operator
li = [1, 2, 3, 4, 5, 6, 7, 8]
for i in range(0, len(li)):
    print(li[i], end = ' ')
operator.setitem(li, slice(1, 4), [10, 11, 12])
for i in range(0, len(li)):
    print(li[i])
operator.delitem(li, slice(1, 4))
for i in range(0, len(li)):
    print(li[i], end = ' ')
operator.getitem(li, slice(1, 4))

1 2 3 4 5 6 7 8 1
10
11
12
5
6
7
8
1 5 6 7 8

[5, 6, 7]

In [10]:
a = 'python'
b = ' programming'
print(operator.concat(a, b)) #17
print(operator.contains(a, b)) #18

python programming
False

In [20]:
#19.and_(), 20.or_(), 21.xor(), 22.invert()
a = 1
b = 0
print(operator.and_(a, b))
print(operator.or_(a, b))
print(operator.xor(a, b))
print(operator.invert(a))

0
1
1
-2

In [24]:
#examples for inplace operators in python.
import operator
x = print(operator.iadd(3, 2))
x = 'welcome to'
y = ' python'
print(operator.iconcat(x, y))
z = print(operator.isub(3, 2))
print(x, z)
b = operator.imul(3, 2)
print(b)
c = operator.itruediv(6, 3)
print(c)
d = operator.mod(5, 3)
print(d)
e = operator.ixor(1, 0)
print(e)
f = operator.ipow(5, 3)
print(f)
g = operator.ior(1, 1)
print(g)
h = operator.iand(1, 0)
print(h)
i = operator.ilshift(8, 2)
print(i)
j = operator.rshift(8, 2)
print(j)

5
welcome to python
1
welcome to None
6
2.0
2
1
125
1
0
32
2

# Logic gates in python

In [16]:
def AND(a, b):
    if(a == 1 and b == 1):
        return True
    else: 
        return False
AND(1, 0)

False

In [17]:
def NAND(a, b):
    if(a == 1 and b == 1):
        return False
    else: 
        return True
NAND(1, 0)

True

In [18]:
def OR(a, b):
    if(a == 0 and b == 0):
        return False
    else:
        return True
OR(0, 1)

True

In [19]:
def NOR(a, b):
    if(a == 0 and b == 0):
        return True
    else:
        return False
NOR(0, 0)

True

In [20]:
def XOR(a, b):
    if(a == b):
        return False
    else:
        return True
XOR(1, 0)

True

In [21]:
def XNOR(a, b):
    if a == b:
        return True
    else:
        return False
XNOR(1, 0)

False

In [23]:
def NOT(a):
    if(a == 0):
        return True
    else:
        return False
NOT(1)

False

Note: a+=b need not always be equal to a = a+b

In [25]:
#example.
l1 = [5, 4, 3, 2, 1]
l2 = l1
l1 += [1, 2, 3, 4, 5]
print(l1)
print(l2)

[5, 4, 3, 2, 1, 1, 2, 3, 4, 5]
[5, 4, 3, 2, 1, 1, 2, 3, 4, 5]

In [26]:
l1 = [5, 4, 3, 2, 1]
l2 = l1
l1 = l1 + [1, 2, 3, 4, 5]
print(l1)
print(l2)

[5, 4, 3, 2, 1, 1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

Note: '==' and is operator are not the same

In [2]:
#example to demonstrate above note.
l1 = []
l2 = []
l3 = l1
if(l1 == l2):
    print('True')
else:
    print('False')
if(l1 is l2):
    print('True')
else:
    print('False')
if(l1 is l3):
    print('True')
else:
    print('False')
print(id(l1))
print(id(l2))

True
False
True
2318778542408
2318778675272