Set : Is an unorderly collection of items or elements within curly braces.

Set can be assigned with values, and it does not allow duplicates.

# Different methods to create a set

In [4]:
#using curly braces
a = {1, 2, 3, 4, 5}
print(a)
print(type(a))

{1, 2, 3, 4, 5}
<class 'set'>

In [5]:
#using set function
b = set({1.2, 2.3, 3.4, 4.5, 5.6})
print(b)
print(type(b))

{1.2, 2.3, 3.4, 4.5, 5.6}
<class 'set'>

In [6]:
c = (['a', 'b', 'c', 'd', 'e'])
d = set(c)
print(d)
print(type(d))

{'d', 'e', 'c', 'a', 'b'}
<class 'set'>

In [1]:
#example for a set with duplicate values.
a = ([1, 2, 3, 3, 4, 4, 5, 6, 7])
b = set(a)
print(a)

[1, 2, 3, 3, 4, 4, 5, 6, 7]

Note: A set can contain values or elements of any data types.

In [3]:
#example demonstrating above example.
c = {'a', 2.3, 4, 5j + 6, 1}
d = set(c)
print(d)

{1, 2.3, 4, (6+5j), 'a'}

# Different set methods

In [8]:
a = {1, 2, 3, 4}
b = {1, 4}
a.intersection(b) #common elements in set 'a' and 'b'

{1, 4}

In [11]:
a = {9, 1, 4, 7, 0}
b = {1, 0}
b.intersection_update(a)
print(a, b)

{0, 1, 4, 7, 9} {0, 1}

In [13]:
a = {1, 2, 3, 4, 5}
b = {1, 2, 3}
a.difference(b)  #prints those elements which are not common to sets 'a' and 'b'

{4, 5}

In [16]:
a = {5, 8, 2, 4}
b = {1, 3, 6, 7}
a.difference_update(b)
print(a)
print(b)

{8, 2, 4, 5}
{1, 3, 6, 7}

In [17]:
a = {1, 2, 3, 4, 5}
a.add(6)
print(a) #only one element at a time can be added to a set.

{1, 2, 3, 4, 5, 6}

Note: Lists can not be added to the set because it is not hashable, whereas tuples can be added because they are immutable hence hashable.

In [4]:
#example demonsrtating above note:
a = {1, 2, 3, 4}
b = ((5, 6))
a.add(b)
print(a)

{1, 2, 3, 4, (5, 6)}

In [8]:
#adding elements to the list using iterator.
a = set()
for i in range(1, 6):
    a.add(i)
print(a)

{1, 2, 3, 4, 5}

In [20]:
a = {1, 2, 3}
b = {4, 5, 6}
a.union(b)
b.union(a)  #merges the elements of two sets

{1, 2, 3, 4, 5, 6}

In [21]:
a = {'a', 'b', 'c', 'd', 'e', 'f'}
a.discard('a')
print(a)

{'d', 'f', 'e', 'c', 'b'}

In [22]:
a = {1, 2, 3}
b = {1.2, 2.3, 3.4}
a.isdisjoint(b)

True

In [24]:
a = {1, 1.2, 2j + 3, 'Hi', True}
b = {1, True}
print(a.issubset(b))
print(b.issubset(a))

False
True

In [26]:
a = {'f', 'd', 'c', 'a', 'b', 'e'}
b = {'d', 'b', 'f'}
c = {'f'}
a.issuperset(c)

True

In [22]:
a = {1, 2, 3, 4, 5, 6}
a.pop() #this method eliminates a set element, since the set is unordered we are not sure which element gets poped out.
print(a)

{2, 3, 4, 5, 6}

In [29]:
a = {1j + 2, 2j + 3, 3j + 4, 4j + 5}
a.remove(2j + 3)
print(a) #keyerror rises when the set is empty

{(4+3j), (2+1j), (5+4j)}

In [20]:
#example demonstrating usage of remove() and discard() methods.
a = set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
a.remove(2)
a.remove(3)
a.discard(4)
a.discard(5)
print(a)
for i in range(7, 11):
    a.remove(i)
print(a)

{1, 6, 7, 8, 9, 10}
{1, 6}

In [30]:
a = {5, 4, 3, 2, 1}
b = {7, 6, 5, 2, 1}
A = a.symmetric_difference(b)
print(A)

{3, 4, 6, 7}

In [32]:
a = {5, 4, 3, 2, 1}
b = {7, 6, 5, 2, 1}
A = b.symmetric_difference_update(a)
print(A)

None

In [9]:
a = {1, 2, 3, 4, 5}
b = {1, 7, 8, 10}
b.update(a)
print(b) #this method is used to add more than two elements to the set.

{1, 2, 3, 4, 5, 7, 8, 10}

Note: The update() method accepts list, tuple, and string as its arguments. In all of these cases duplicate elements are avoided.

In [11]:
#example demonstrating above note:
a = {1, 2, (3, 4)}
a.update([5, 6])
a

{(3, 4), 1, 2, 5, 6}

In [35]:
a = {1, 2}
a.clear()
print(a)  #to remove all the set elements this method is used.s

set()

In [36]:
a = {1, 2}
A = a.copy()
print(A)

{1, 2}

# Accessing a set

Note: A set can not be accessed by referring to an index, since it is unordered data structure.

In [16]:
a = set(['welcome', 'to', 'python'])
print(a)
for i in a:
    print(i, end = ' ')
print('python' in a)

{'welcome', 'python', 'to'}
welcome python to True