String : Is nothing but the collection of alphabets from 'a-z'(including caps) within single, double, triple single and triple double quotes.

Note: Strings are immutable they can not be changed.

In [1]:
#assigning string to a variable.
a = 'hello world'
print(a)

hello world

In [1]:
a = 'python'
b = "Messi"
c = '''Ragh'''
d = """Ram"""
print(a, b, c, d) # examples of a string
print('\n', a) #new line
print('\t', a) #tab

python Messi Ragh Ram

 python
	 python

Note_1 : Hashtag is used to write comments in pyhton, interpreter ignores the line when it encounters the hashtag.
Note_2 : Triple single quotes or triple double quotes are used to write multi-line comments in python

In [2]:
a = 'hello'
print(a)

hello

In [3]:
#example to create a string with double quotes
a = "im a py developer"
print(a)

im a py developer

In [4]:
#example to create a string with triple single quotes.
a = '''virat is a best batsman in the "wolrd"'''
print(a) #note you can write string inside a string

virat is a best batsman in the "wolrd"

In [7]:
#example to create a string with triple double quotes.
a = """messi is best footballer in the 
       'world'"""
a #note you can write multi-line strings using triple single or double quotes.

"messi is best footballer in the \n       'world'"

Note: Updation and deletion string is not allowed in python. Although entire string can be deleted using del keyword.

In [9]:
#example for updating entire string.
a = 'hi'
print('initial string', a)
a = 'rag'
print('after updation', a)
a

initial string hi
after updation rag

'rag'

In [10]:
#example for deleting entire string.
a = 'hi im virat'
print('initial string')
print(a)
del a
print('after deletion')
a

initial string
hi im virat
after deletion

NameError: name 'a' is not defined

In [3]:
#Escape sequencing in python.
#initial string
a = '''i love "sports"'''
print(a)

i love "sports"

In [5]:
b = 'i\'m "ragh"'
print(b) #note: '\' is used to escape a string.

i'm "ragh"

In [6]:
#escaping double quotes.
a = 'i\'m a py \"developer\"'
print(a)

i'm a py "developer"

In [7]:
c = 'C:\\python\\developer\\'
print(c)

C:\python\developer\

Formatting of a string.

format() is used to format a string

In [15]:
#examples.
a = print('{}, {}'.format('virat', 'kohli'))
b = print('{1}, {2}, {0}'.format('life', 'python', 'for'))
c = print('{i}, {j}, {k}'.format(k = 'sports', i = 'cricket', j = 'for'))

virat, kohli
python, for, life
cricket, for, sports

In [18]:
#examples for integer formatting.
a = '{0:b}'.format(16)
print(a)
b = '{0:e}'.format(165.6458)
print(b)
c = '{0:0.2f}'.format(1/5)
print(c)

10000
1.656458e+02
0.20

# Accessing each alphabet from the string(Indexing)

Note: while accessing an index value out of range will result in index error.
    
And only integers data type can be passed as a index value.

In [3]:
a = 'hello'
print(a[0], a[1], a[2], a[3], a[4]) #positive indexing
print(a[-5], a[-4], a[-3], a[-2], a[-1]) #negative indexing

h e l l o
h e l l o

# Accessing the part of a String(Indexing)

In [4]:
b = 'friends'
print(b[0:3]) #positive slice
print(b[-7:-4]) #negative slice

fri
fri

# Extended part of slice(extended slice)

In [5]:
c = 'helloworld'
print(c[0:10:2]) #positive exteded slice
print(c[-10:-1:2]) #negative extended slice

hlool
hlool

# Different String methods

In [6]:
a = 'Hello'
print(len(a))

5

In [7]:
b = 'Ragh'
b.lower()

'ragh'

In [8]:
c = 'ragh'
c.upper()

'RAGH'

In [9]:
d = 'rAM'
d.capitalize()

'Ram'

In [10]:
e = 'ragh'
e.find('a')

1

In [11]:
f = 'HELlo'
f.casefold()

'hello'

In [12]:
g = 'hello'
g.count('l')

2

In [13]:
h = 'welcome to python'
h.startswith('p')

False

In [14]:
i = 'python class'
i.endswith('n')

False

In [15]:
j = 'ram'
j.center(10)

'   ram    '

Note: Encode method is used to convert string into machine readable language.

This method take encoding technique as an argument.

In [16]:
k = 'ragh'
k.encode()

b'ragh'

In [4]:
#example.
a = 'python'
b = b'python'
c = a.encode('UTF-8')
if(b == c):
    print('encoding is successful')
else:
    print('Unsuccessful')

encoding is successful

Decode: Is a method which is used to convert bytes into string.

In [6]:
a = 'python'
b = b'python'
c = b.decode('UTF-8')
if (a == c):
    print('Decoding Successful')
else:
    print('Unsuccessful')

Decoding Successful

In [17]:
l = 'Hello\tWorld'
l.expandtabs(30)

'Hello                         World'

In [18]:
print('Hello {} Welcome to {}'.format('world', 'python'))

Hello world Welcome to python

In [19]:
m = 'ab123'
m.isalnum()

True

In [20]:
n = '123'
n.isnumeric()

True

In [21]:
o = 'abc'
o.isalpha()

True

In [29]:
p = '10'
p.isdigit()

True

In [30]:
q = '10'
q.isdecimal()

True

In [35]:
a, b, c = 'def', 'else', 'if'
print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())

True
True
True

In [38]:
a = 'hell\n'
a.isprintable()

False

In [39]:
a = '   '
a.isspace()

True

In [40]:
a = 'Is Title'
a.istitle()

True

In [41]:
a = 'hi'
b = '123'
a.join(b)

'1hi2hi3'

In [42]:
a = 'hi'
b = '123'
b.join(a)

'h123i'

In [43]:
a = 'HELLO'
a.isupper()

True

In [44]:
a = 'python class'
width = 20
b = '*'
a.ljust(width, b)

'python class********'

In [45]:
a = 'python class @ itrain technologies'
a.rpartition('@')

('python class ', '@', ' itrain technologies')

In [50]:
a = 'Hello World'
a.split()

['Hello', 'World']

In [48]:
a = 'Hello World'
a.rsplit('l')

['He', '', 'o Wor', 'd']

In [53]:
a = 'Hello World'
a.strip()

'Hello World'

In [54]:
a = 'Hello world'
a.strip('d')

'Hello worl'

In [55]:
a = 'HeLLo'
a.swapcase()

'hEllO'

In [56]:
a = 'Hello'
a.zfill(10)

'00000Hello'

In [60]:
a = 'my name is {name}, and my age is {age'}'
dict = {'name' : ['python', 'java'], 'age' : ['20', '21']}
a.format_map(dict)

SyntaxError: invalid syntax (<ipython-input-60-f8556624c399>, line 1)